.container{
  display: grid;
  grid-template-columns: [left] 1fr [body] 4fr [right] 1fr;
}
.cardName{
  text-transform:uppercase;
}
.cardSubhead{
  font-weight:bold;
  color: grey;
}
.header{
  margin-left:75px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.gridItemContainer{
  cursor: pointer;
}
.gridItem{
  box-shadow: none;
  background-color: aliceblue;
  border-radius: 30px;
}
.gridItem:hover{
  background-color:#d7ecff;
}
.tabBox{
  grid-column-start: body;
}
.tabLabel{
  color: #DC493A;

  &:global(.MuiTab-root) {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight:600;
    color: #DC493A;
  }
  &:global(.MuiTabs-indicator){
    color: #DC493A;
    background-color: #DC493A;
  }
  &:global(.MuiTab-root.Mui-selected) {
    color: #DC493A;
  }
  &:global(.MuiTab-root.Mui-focusVisible) {
    color: #DC493A;
  }
}
.tabIndicator{
  background-color: #DC493A;
  color: #DC493A;
}