.menteeProfile{
  display: grid;
  grid-template-columns: [sidebar] 250px [questions] 0.8fr [ratings] 300px;
  /* overflow:hidden; */
}
.sidebarCard{
  margin-left: 15px;
  flex-direction: column;
  grid-column-start: sidebar;
  height:fit-content;
  width:fit-content;
  margin-top:60px;
  border:none;
  box-shadow: none;
}
.sidearSubhead{
  font-weight:bold;
}
.leftSidebar{
  display: block;
  position:sticky;
  position: -webkit-sticky;
  top:50px;
  height: 100vh;
  overflow-y:auto;
}
.reviewHeader{
  margin-top:0;
}
.reviewContainer{
  display:block;
  position:sticky;
  position: -webkit-sticky;
  top:120px;
  height:100vh;
  overflow-y:auto;
  margin-top:60px;
}
/* .reviewAccordion{
  margin:15px;
} */
.reviewAccordionSummary{
  flex-direction: column;
  display:grid;
  margin:15px;

}
.expandedAccordion{
  margin-top:65px;
  margin:15px;
}
.expandMoreIcon{
  align-self: end;
  justify-self: center;
}
.qaCard{
  padding: 10px;
  font-size: 14px;
  margin-bottom:15px;
  margin-top:15px;
}
.question{
  font-weight:bold;
  font-style: italic;
}
.menteeName{
  text-transform: uppercase;
  padding-bottom:60px
}
p{
  font-size: smaller;
}
.sidebar p{
  padding-top:5px;
  padding-bottom:5px;
}
.questionsContainer{
  margin-right: 30px;
  margin-left: 30px;
  grid-column-start: questions;
  margin-top:60px;
}
.questionsHeading{
  /* position: sticky; */
  top: 0;
  background-color: white;
  font-size:20px;
  text-transform: uppercase;
  padding-bottom: 30px
}
.addReviewButton{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
.scoreContainer{
  display:inline-flex;
  align-items:center;
  padding-top:10px;
  min-height:80px;
}
.scoreLabels{
  font-size:smaller;
  font-style: italic;
  color:darkgrey;
}
.submitReviewButton{
  display:flex;
  justify-content:center;
  padding-bottom: 20px;
}
.textField{
  justify-content:center;
  align-items:center;
  display: flex;
  width: 100%;
  font-size:13px;
}
.textFieldBox{
  width:100%
}
.textFieldInput{
  font-size:13px;
}
.MuiInputLabel-root{
  left:50px;
}
.enableReviewLink{
  display:flex;
  justify-content:center;
}
.enableReviewButton{
  display: inline-flex;
  align-items:center;
}
.editIcon{
  padding-right:3px;
  transform-origin:center;
  scale:0.8
}
.deleteReviewButton{
  display: inline-flex;
  width:100%;
  align-items:center;
  justify-content:center;
  padding-top: 5px;
}