.menteeProfile{
  display: grid;
  grid-template-columns: [sidebar] 30% [questions] 70%;
  overflow:hidden;
}
.sidebar{
  margin-left: 60px;
  flex-direction: column;
  grid-column-start: sidebar;
  position:fixed;
}
.sidearSubhead{
  font-weight:bold;
}
h2{
  text-transform: uppercase;
  padding-bottom:60px
}
p{
  font-size: smaller;
}
.questionsContainer{
  margin-top: 40px;
  margin-right: 60px;
  grid-column-start: questions;
  background-color: azure;
  overflow-x: scroll;
  height: 100vh;
}