.menteeProfile{
  display: grid;
  grid-template-columns: [sidebar] 1fr [questions] 2.5fr [ratings] 1.4fr;
  width:100vw;
}
.sidebarCard{
  margin-left: 15px;
  flex-direction: column;
  grid-column-start: sidebar;
  height:fit-content;
  width:fit-content;
  margin-top:60px;
  border:none;
  box-shadow: none;
}
.sidebarSubhead{
  font-weight:bold;
}
.sidebarText {
  font-size: 14px;
  margin-top: 5px;
}
.MuiPaper-root-MuiCard-root{
  box-shadow: none;
}
.leftSidebar{
  display: flex;
  position:sticky;
  position: -webkit-sticky;
  top:50px;
  height: 100vh;
  overflow-y:auto;
  justify-content: center;
}
.cardContent{
  box-shadow: none;
  background-color: aliceblue;
  border-radius: 30px;
}
.reviewBar{
  display:flex;
  justify-content: center;
}
.reviewHeader{
  margin-top:10px;
}
.reviewContainer{
  display:block;
  position:sticky;
  position: -webkit-sticky;
  top:120px;
  height:100vh;
  overflow-y:auto;
  margin-right: 60px;
  margin-left: 20px;
  margin-top:60px;
}
.reviewAccordionSummary{
  flex-direction: column;
  display:grid;
  margin:15px;
}
.expandedAccordion{
  margin-top:65px;
  margin:15px;
}
.expandMoreIcon{
  align-self: end;
  justify-self: center;
}
.qaCard{
  padding: 10px;
  font-size: 14px;
  margin-bottom:15px;
  margin-top:15px;
}
.question{
  font-weight:bold;
  font-style: italic;
}
.menteeName{
  display: grid;
  text-transform: uppercase;
  padding-bottom:60px
}
p{
  font-size: smaller;
}
.sidebar p{
  padding-top:5px;
  padding-bottom:5px;
}
.questionsContainer{
  margin-right: 70px;
  margin-left: 30px;
  grid-column-start: questions;
  margin-top:60px;
}
.questionsHeading{
  /* position: sticky; */
  top: 0;
  background-color: white;
  font-size:20px;
  text-transform: uppercase;
  padding-bottom: 30px
}
.addReviewButton{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
.scoreContainer{
  display:inline-flex;
  align-items:center;
  padding-top:10px;
  min-height:80px;
}
.scoreLabels{
  font-size:smaller;
  font-style: italic;
  color:darkgrey;
}
.submitReviewButton{
  display:flex;
  justify-content:center;
  padding-bottom: 20px;
}
.textField{
  justify-content:center;
  align-items:center;
  display: flex;
  width: 100%;
  font-size:13px;
}
.textFieldBox{
  width:100%;
  background-color: white; 
}
.textFieldInput{
  font-size:13px;
}
.MuiInputLabel-root{
  left:50px;
}
.enableReviewLink{
  display:flex;
  justify-content:center;
}
.enableReviewButton{
  display: inline-flex;
  align-items:center;
}
.editIcon{
  padding-right:3px;
  transform-origin:center;
  scale:0.8
}
.deleteReviewButton{
  display: inline-flex;
  width:100%;
  align-items:center;
  justify-content:center;
  padding-top: 5px;
}
.tabLabel{
  color: #DC493A;

  &:global(.MuiTab-root) {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight:600;
    color: #DC493A;
  }
  &:global(.MuiTabs-indicator){
    color: #DC493A;
    background-color: #DC493A;
  }
  &:global(.MuiTab-root.Mui-selected) {
    color: #DC493A;
  }
  &:global(.MuiTab-root.Mui-focusVisible) {
    color: #DC493A;
  }
}
.tabIndicator{
  background-color: #DC493A;
  color: #DC493A;
}

@media screen and (max-width: 1200px) {
  .sidebarText{
    font-size: smaller;
    margin-top: 5px;
  }
}
@media screen and (max-width: 992px) {
  .menteeProfile {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "sidebar"
      "questions"
      "ratings";
  }
  .sidebarCard{
    margin-left: 15px;
    flex-direction: row;
    grid-column-start: sidebar;
    height:fit-content;
    width: 80vw;
    margin-top:60px;
    border:none;
    box-shadow: none;
  }
  .leftSidebar{
    display: flex;
    position: static;
    top: 50px;
    height: auto;
    width: 80vw;
    overflow-y:auto;
    justify-content: center;
  }
}