.container{
  min-height:30vh;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:70px;
  margin-left:20px;
  margin-right:20px;
  border-top: 1px solid grey;
}
.content{
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction:row;
}
.logoContainer{
  justify-content: center;
  align-items: center;
}
.logo{
  height:100px;
}
.aboutHeader{
  font-weight:700;
  color:gray
}
.links{
  display:flex;
  flex-direction: column;
  margin-left:30px;
}
.links a {
  color: black;
  font-size: 14px;
  display: inline-flex;

  &:hover{
    color: #DC493A;
    font-weight:600;
  }

  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}

.links a::before {
  content: attr(title);
  content: attr(title) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: 600;
}