body {
  font-family: 'IBM Plex Sans', sans-serif;
}

h2,h3{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 800;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* .MuiAccordionSummary-content{
  flex-direction: column;
} */
