.container{
  display: grid;
  grid-template-columns: [left] 1fr [body] 1fr [right] 1fr;
}
.bodyContainer{
  grid-column-start: body;
  margin-top: 20px;

  background-color:aliceblue;
  border-radius:30px;
}
.body{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.buttonContainer{
  margin:30px;
  margin-bottom:60px;
}
.header{
  margin-top: 60px;
  margin-bottom:60px;
  grid-column-start: body;
  text-align: center;
  text-transform:uppercase;
}
.textFieldBox{
  width:100%;
  background-color: white; 
}
.textFieldInput{
  font-size:13px;
}